#chatButton {
  position: fixed;
  bottom: 3rem;
  right: 5em;
  color: rgb(34, 99, 112);
  border-style: outset;
  background-color: transparent;
  border-color: transparent;
}

#icon {
  width: 3em;
  height: 3em;
  border: none;
}
#chatComp {
  display: flex;
  position: absolute;
  height: 35em;
  width: 27em;
  top: -37.75em;
  right: 1.9em;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0.75em;
  border: 1px solid white;
  word-wrap: break-word;
}
