#partyChat {
  color: rgb(255, 99, 71);
  padding-top: 0;
  margin-top: -0.05em;
  font-family: fantasy, monospace;
  font-size: 3em;
  text-align: center;
  letter-spacing: 0.25em;
}

.messages {
  background-color: rgba(34, 99, 112, 0.4);
  height: 3.3em;
  list-style-type: none;
  margin: 0.15em;
  margin-left: 0.05em;
  padding: 1em;
  border-radius: 2.25em;
  font-family: 'Monaco', 'Courier New', monospace;
  display: flex;
  flex-direction: row;
  color: white;
  border: 0.1em solid;
}

.myMessage {
  background-color: rgba(255, 99, 71, 0.4);
  height: 3.3em;
  list-style-type: none;
  margin: 0.15em;
  margin-left: -1.95em;
  padding: 1em;
  margin-right: 4.55em;
  border-radius: 1.25em;
  font-family: 'Monaco', 'Courier New', monospace;
  display: flex;
  flex-direction: row;
  color: white;
  border: 0.1em solid;
}

#listDiv {
  background-color: #000000d4;
  border-radius: 1.5em;
  height: 24em;
  overflow-y: auto;
  overflow-x: auto;
}

#messageForm {
  position: absolute;
  bottom: 1em;
}

.input {
  color: white;
  background-color: #348b9d;
  padding: 1em;
  position: sticky;
  height: 2em;
  font-size: 1.15em;
  width: 19em;
  font-family: 'Monaco', 'Courier New', monospace;
  border-radius: 1em;
}

#chatComp {
  background-color: #000e07b8;
  padding: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.submit {
  background-color: #8b8b8b;
  width: 4em;
  height: 3em;
  border-radius: 2.25em;
}

#chatList {
  display: flex;
  flex-direction: column;
}

.listUser {
  text-align: center;
  flex-grow: 1;
}

.listMessage {
  text-align: center;
  flex: 9;
}
