#partyChat {
  color: rgb(255, 99, 71);
  font-family: fantasy, monospace;
  font-size: 2em;
  text-align: center;
  letter-spacing: 0.25em;
  background-color: none;
}

.messages {
  display: inline-block;
  max-width: 23em;
  height: auto;
  list-style-type: none;
  font-family: 'Monaco', 'Courier New', monospace;
  color: white;
  text-align: left;
}

.myMessage {
  display: inline-block;
  max-width: 23em;
  height: auto;
  list-style-type: none;
  font-family: 'Monaco', 'Courier New', monospace;
  color: white;
  text-align: right;
  /* padding: 1em; */
}

#listDiv {
  overflow-y: auto;
  height: 23em;
  max-width: 30em;
}

#messageForm {
  margin: 0.5em;
}

input {
  color: white;
  background-color: none;
  position: sticky;
  font-size: 0.75em;
  margin: 0.5em;
  width: 82.5%;
  font-family: 'Monaco', 'Courier New', monospace;
}

#chatComp {
  background-color: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.submit {
  margin: 0.5em;
  height: 3em;
  width: 3em;
}

