.finalContainer {
  display: flex;
  flex-direction: column;
}

.header {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.5em;
}

.playerContainer {
  margin: auto;
  display: flex;
  flex-direction: column;

  width: 20em;
  height: 20em;
  border: 2px solid rgba(0, 170, 255, 0.25);
}

.avatar {
  margin-top: 5em;
  padding-bottom: 2em;
  align-self: center;
}

.avatar > img {
  width: 3em;
  height: 3em;
}

p {
  align-self: center;
  padding-bottom: 3em;
  font-family: 'Share Tech Mono', monospace;
  color: white;
}
