#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.homeContainer {
  align-items: center;
  justify-content: center;
}

.inputSection {
  position: relative;
}
.welcome {
  position: relative;
  text-align: center;
  margin: auto;
  max-width: 60%;
  padding-top: 10%;
  padding-bottom: 5%;
}
.joincreateform {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}
input {
  border: none;
  height: 3em;
  box-sizing: border-box;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-radius: 4px;
  background-color: rgba(1, 1, 1, 0.75);
  background-repeat: no-repeat;
}

.createRoom {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

/* CSS */
.submitBtn,
.submitBtn:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.75) 5%,
    rgba(1, 1, 1, 0.75) 5%
  );
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #ffffff;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;
  margin: auto;
}

.submitBtn:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #ffffff 3%,
    #1531af 5%,
    #1aa71a 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #62dd57;
  clip-path: var(--slice-0);
}

.submitBtn:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .submitBtn,
  .submitBtn:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}
