.navbar {
  /* background-color: #000e07;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px; */
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  height: 4rem;
  background-color: rgba(44, 47, 49, 0.65);
  color: gray;
  align-items: center;
  justify-content: space-between;
}

.navList {
  list-style: none;
  margin-left: 1rem;
  padding-left: 2rem;
  text-decoration: none;
  color: white;
  transition: all 200ms ease-in;
  cursor: pointer;
  font-family: 'Monaco', 'Courier New', monospace;
  font-size: 1rem;
}
.navBlock {
  display: flex;
  flex-direction: row;
  min-width: 10%;
}
.navLogo {
  justify-content: flex-end;
  min-width: 10%;
}
.rulesBtn {
  font-family: 'Monaco', 'Courier New', monospace;
  font-size: 1rem;
  background-color: rgba(44, 47, 49, 0);
  color: white;
  border: none;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.navTitle {
  position: absolute;
  top: 3.3%;
  left: 45%;
}
#rulesComp {
  position: absolute;
  top: 3em;
  background-color: rgba(44, 47, 49, 0.65);
  color: #d1d3d4;
}

#centerLogo {
  position: relative;
  margin: auto;
}

#githubLogo {
  width: 30px;
  object-fit: contain;
}
