* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

nav {
  background-color: #c4c4c4;
  height: 3.5em;
}

nav a {
  margin: 1em;
  position: relative;
  top: 1.25em;
}

.welcome-message {
  background-color: #c4c4c4;
  width: 11em;
  padding: 15em;
  margin: 3em auto;
}

.rules {
  background-color: #c4c4c4;
  width: 25em;
  padding: 2em;
  margin: 3em auto;
}

.join-form {
  width: 35em;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.name-label {
  position: relative;
  top: -1em;
  right: -3em;
}
.roomID-label {
  position: relative;
  top: -1em;
  right: -4.25em;
}

.join-room-btn {
  margin: 1em;
}
.create-room-btn {
  padding: 0.5em;
  width: 9.75em;
  margin: 1em 16.5em;
  border: 0.125em blue solid;
  border-radius: 0.25em;
}

.create-room-btn:hover {
  background-color: #ffffff;
}

.create-room-btn:active {
  background-color: #e9ecea;
}

.lobby-container {
  width: 20em;
  margin: 0 auto;
}

.player {
  display: inline-block;
  margin: 5em 0.75em;
}
.player-avatar {
  width: 3em;
  border-radius: 50%;
}

.start-game-btn {
  width: 20em;
  margin: 0 auto;
  position: relative;
  top: -16em;
  right: -6em;
}
.prompt-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.prompt-solution {
  display: flex;
  flex-direction: column;
  margin: 3em 0 0 2em;
  width: 35vw;
  height: 80vh;
}
.submit-prompt-button {
  width: 80%;
}
.finished-submission-list {
  margin: 3em 0 0 2em;
  display: flex;
  flex-direction: column;
}
